<tr class="detail">
  <td colspan=9 align="left">
    <table width='100%'  class="detail-table">
      <tr>
        <th width="10%">企业名称</th>
        <td><%= @corp.name %></td>
        <th width="10%">统一社会信用代码</th>
        <td><%= @corp.no %></td>
        <th width="10%">法人代表</th>
        <td><%= @corp.legal_person %></td>
        <td></td>
      </tr>
      <tr>
        <th>注册地</th>
        <td><%= @corp.legal_person %></td>
        <th>注册资本</th>
        <td><%= @corp.legal_person %></td>
        <th>企业登记注册类型</th>
        <td><%= @corp.legal_person %></td>
      </tr>
      <tr>
        <th>股东数量</th>
        <td></td>
        <th></th>
        <td></td>
        <th>企业经营地址</th>
        <td></td>
      </tr>
      <tr>
        <th>成立时间</th>
        <td></td>
        <th>邮箱</th>
        <td></td>
        <th>电话</th>
        <td></td>
      </tr>
      <tr>
        <th>企业资质资格列表</th>
        <td colspan=5>1111</td>
      </tr>
      <tr>
        <th>主要股东</th>
        <td colspan=5></td>
      </tr>
      <tr>
        <th>经营风险</th>
        <td colspan=5></td>
      </tr>
      <tr>
        <th>司法风险</th>
        <td colspan=5></td>
      </tr>
    </table>
  </td>
</tr>