<tr class="detail">
  <td colspan=9 align="left">
    <table width='100%'  class="detail-table">
      <tr>
        <th width="15%">企业名称</th>
        <td><%= @corp.name %></td>
        <th width="15%">统一社会信用代码</th>
        <td><%= @corp.no %></td>
        <th width="15%">法人代表</th>
        <td><%= @corp.legal_person %></td>
        <td></td>
      </tr>
      <tr>
        <th>企业资质资格列表</th>
        <td><%= @corp.scopes %></td>
        <th>股东数量</th>
        <td><%= Shareholder.where(corp_no: @corp.no).count %></td>
        <th>企业经营地址</th>
        <td><%= @corp.address %></td>
      </tr>
      <tr>
        <th>注册地</th>
        <td><%= @corp.address %></td>
        <th>注册资本</th>
        <td><%= @corp.regcaption %></td>
        <th>企业登记注册类型</th>
        <td><%= @corp.corp_type %></td>
      </tr>
      <tr>
        <th>主要股东</th>
        <td><%= Shareholder.where(corp_no: @corp.no ).map(&:name).join('/') %></td>
        <th></th>
        <td></td>
        <th></th>
        <td></td>
      </tr>
      <tr>
        <th>成立时间</th>
        <td><%= @corp.est_date %></td>
        <th>邮箱</th>
        <td><%= @corp.email %></td>
        <th>电话</th>
        <td><%= @corp.phone %></td>
      </tr>
      <tr>
        <th>黑名单总量</th>
        <td colspan="5">黑名单: <%= @blacklist_count %>/行政处罚: <%= @punishe_count %>/经营异常: <%= @manage_risk_count %></td>
      </tr>
      <tr>
        <th>法院诉讼</th>
        <td><%= @law_rist_count %></td>
        <th>半年内招投标数量</th>
        <td><%= @bid_count %></td>
      </tr>
    </table>
  </td>
</tr>